version: '3.8'

services:
  nowen:
    build: .
    container_name: nowen
    restart: unless-stopped
    ports:
      - "3002:3000"
    volumes:
      - ./server/data:/app/server/data
    environment:
      - NODE_ENV=production
